.maincontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
.headtext {
  text-align: center;
  color: #e5eff1;
  line-height: 1.6rem;
  font-family: var(--font-a);
}
.yellowtext {
  color: #f1e455;
}
.headtext2 {
  color: #bdd6db;
  text-align: center;
  font-family: var(--font-a);
}
.subheadtext {
  color: #e5eff1;
  font: var(--font-a);
  font-weight: 700;
}
