h2 {
  color: black;
}
#cmf {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 48vw;
  margin: 0 auto; /* This centers the div horizontally */
}
.column {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100%;
  width: 33%;
}
.uppertext {
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
}
.lowertext {
  height: 45%;
  margin-top: 2rem;
}

.heading {
  margin: 1rem 1rem;

  height: 5%;

  text-align: center;
}

.homeheading {
  /* color: #efdef7; */
  color: #ffe770;
  font-family: var(--font-b);
  font-size: 3rem;
  letter-spacing: -2px;
  transition: opacity 0.2s ease-in;
}
.column:hover .uppertext p {
  opacity: 0.9;
  transition: opacity 0.5s ease-in;
}
.column:hover .lowertext p {
  opacity: 0.9;
  transition: opacity 0.5s ease-in;
  transition-delay: 2s;
}

.column .uppertext p {
  opacity: 0;
  transition: opacity 0.35s ease-in;
  color: #e4eef1;
  text-align: left;
  font-family: var(--font-a);
  font-size: 1rem;
  line-height: calc(1rem * 1.3);
}
.column .lowertext p {
  opacity: 0;
  transition: opacity 0.35s ease-in;
  color: #e4eef1;
  text-align: right;
  font-family: var(--font-a);
  font-size: 1rem;
  line-height: calc(1rem * 1.3);
}
.imgs {
  position: absolute;
  /* height: 100vh ; */
  opacity: 0.1;
  z-index: -1;
  transition: opacity 0.35s ease-in;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 1700px) {
  .homeheading {
    font-size: 2.5rem;
  }
}
@media (max-width: 1400px) {
  .homeheading {
    font-size: 2rem;
    letter-spacing: 1.5px;
  }
}
@media (min-width: 1700px) {
  .column .uppertext p {
    font-size: 1.2rem;
    line-height: calc(1.2rem * 1.3);
  }
  .column .lowertext p {
    font-size: 1.2rem;
    line-height: calc(1.2rem * 1.3);
  }
}
@media screen and (max-width: 768px) {
  #cmf {
    flex-direction: column;
  }
}
