h2 {
  color: black;
}
#cmf {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 48vw;
  margin: 0 auto; /* This centers the div horizontally */
}
.column {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100%;
  width: 33%;
}
.uppertext {
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
  /* justify-content: flex-end; */
}
.lowertext {
  height: 45%;
  margin-top: 2rem;
}

.heading {
  margin: 1rem 1rem;

  height: 5%;

  text-align: center;
}

div h1 {
  /* color: #efdef7; */
  color: #ffe770;
}
.column:hover .uppertext p {
  opacity: 0.9;
  transition: opacity 0.5s ease-in;
}
.column:hover .lowertext p {
  opacity: 0.9;
  transition: opacity 0.5s ease-in;
  transition-delay: 2s;
}

.column .uppertext p {
  opacity: 0;
  transition: opacity 0.35s ease-in;
  color: #f7effb;
  text-align: left;
}
.column .lowertext p {
  opacity: 0;
  transition: opacity 0.35s ease-in;
  color: #f7effb;
  text-align: right;
}
