.maintile {
  width: 18rem;
  height: 23rem;
  background-color: white;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, #f2f7f8, #bdd6db);
  position: absolute;
  overflow: hidden;
  /* z-index: -1; */
}
.comtile {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.tileimg {
  height: 47%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  /* object-fit: contain; */
}
.tiledesc {
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding: 8px;
}
.titlehead {
  font-size: 0.9rem;
  margin: 0.95rem 0 0 0;
  font-weight: 800;
  font-family: var(--font-b);
}
.subtitlehead {
  font-size: 0.9rem;
  color: #474747;
  font-family: var(--font-b);
  margin: 0.25rem 0 0 0;
}
.skillshead {
  font-family: var(--font-a);
  margin: 0.65rem 1rem 0 1rem;
  font-size: 0.85rem;
  color: #233c43;
  font-weight: bold;
}
.pskills {
  font-family: var(--font-a);
  font-size: 0.8rem;
  margin-left: 1.5rem;
}
.tiletext {
  margin: 0 0 0 1rem;
}
