.mainapp {
  /* background-image: linear-gradient(180deg, #6e2494, #a64ad3, #6e2494); */
  /* background-image: linear-gradient(0deg, #605C3C, #3C3B3F); */
  /* background: -webkit-linear-gradient(to bottom, #605C3C, #3C3B3F);  Chrome 10-25, Safari 5.1-6 */
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background: linear-gradient(to right, #16222a, #3a6073); */
  /* background-image: linear-gradient(180deg, #000, #fff); */

  height: 100%;
  min-height: 90vh;
  background-attachment: fixed;
  padding-bottom: 10vh;
}
.App {
  text-align: center;
}
.text-start {
  /* top: 20vh;
  right: 20vw; */
  margin-left: 2rem;
}

.text-start-head {
  color: #f2f7f8;
  font-family: var(--font-a);
}
.text-start-subhead {
  font-family: var(--font-a);
  font-size: 1.5rem;
  color: #c9dfe3;
}
.profile {
  width: 13vw;
  /* position: absolute;
  top: 0; */
}
.cencon {
  display: flex;
  justify-content: center;
  position: relative;
  top: 47vh;
}
.textandimage {
  position: absolute;
  top: 17vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: center;
  width: 100vw;
  padding-left: 2.5vw;
}
/* #a64ad3 */
@media (max-width: 100px) {
  .profile {
    width: 14vw;
  }
}
@media (min-aspect-ratio: 1.8) and (max-width: 1600px) {
  .textandimage {
    top: 10vh;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.25em; /* You can adjust this value */
  }

  h2 {
    font-size: 1.1em; /* You can adjust this value */
  }

  h3 {
    font-size: 1em; /* You can adjust this value */
  }

  h4 {
    font-size: 0.83em; /* You can adjust this value */
  }

  h5 {
    font-size: 0.67em; /* You can adjust this value */
  }

  p {
    font-size: 0.6em; /* You can adjust this value */
  }
  .text-start-subhead {
    font-size: 0.9rem;
  }
  .profile {
    width: auto;
    height: 15vh;
  }
  .textandimage {
    padding: 0;
  }
  .butpos {
    font-size: 1rem;
  }
}
